*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: 41px;
    margin-right: 41px;
}
.wrapper
{
     overflow-y: hidden; 
    overflow-x: hidden;
}
.ab
{
    border: 1px solid grey;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: white;
}
.ac
{
    border: 1px solid grey;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: white;
} 
.ab:hover
{
    border: 1px solid blue;
    color: blue;
}
.ac:hover
{
    border: 1px solid blue;
    color: blue;
}
#bl
{
    text-align: center;
}
.about
{
    background-color: rgb(255, 255, 253);
    border: 2px rgb(247, 248, 250);
    width: 165px;
    height: auto;
    padding: 19px;
    position: relative;
    float: right;

}
.search
{
    height: 36px;
    width: 23px;
    /* align-self: start; */
}
.navi
{
    /* display: flex;
    justify-content:space-between; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding-bottom: 4%;
}
.w
{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.qw
{
    border: 1px solid grey;
    padding: 2px;
}
.we
{
    border: 1px solid grey;
    padding: 2px;
}
h3,h2
{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ds
{
    background-color: rgb(255, 255, 253);
    border: 2px rgb(247, 248, 250);
    width: 140px;
    height: auto;
    padding: 19px;
    position: relative;
    float: right;
    display: block;

}
.es
{
    background-color: rgb(255, 255, 253);
    border: 2px rgb(31, 45, 73);
    width: 140px;
    height: auto;
    padding: 19px;
    position: relative;
    float: right;
    display: block;
}